<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer%>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :inference %><br />
    <%= f.text_field :inference %>
  </div>
  <div class="field" style="visibility: hidden; position: absolute;">
    <%= f.label :option_id %><br />
    <%= f.number_field :option_id%>
  </div>
  <div class="actions">
    <%= submit_tag "save", :id => "createNewOption" %>
  </div>
<% end %>
